@import "_myBootstrap.scss";

@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
Body {
  background-color: $primario;
}

.logo {
  font-family: "VT323", monospace;
  line-height: 34px;
  text-shadow: $text-shadow-logo;
}
