@import "_myBootstrap.scss";

//@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");
// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;
Body {
  background-color: $scuro;
}
