@import "_myBootstrap.scss";

@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
Body {
  background-color: $primario;
  overflow-x: hidden;
  .login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.spinnerBackground {
  background-color: rgba(0, 0, 0, 0.534);
  z-index: 2000;
}
@media (min-width: 992px) {
  .translate-sx {
    transition: transform 2000ms linear;
  }
  .translate-dx {
    transition: transform 1600ms linear;
  }
  .translate-dx:hover {
    transform: translateX(25rem);
  }
  .translate-sx:hover {
    transform: translateX(-25rem);
  }
}

.pointer {
  cursor: pointer;
}
.immagine-nav {
  height: 30px;
  border-radius: 40px;
}

.immagineGruppoHome {
  max-height: 40px;
  width: max-content;
  border-radius: 10px;
}

.logo {
  font-family: "VT323", monospace;
  line-height: 34px;
  text-shadow: $text-shadow-logo;
}

.logo-no-nav {
  font-family: "VT323", monospace;
  letter-spacing: 3px;
  //font-size: 3rem;
  text-shadow: $text-shadow-logo;
}

.brand {
  font-size: 2.5rem;
}

.header {
  background: rgb(11, 22, 34);
  background: linear-gradient(
    193deg,
    rgba(11, 22, 34, 1) 2%,
    rgba(50, 7, 80, 1) 100%
  );
  height: 25rem;
  .sx-div {
    height: fit-content;
  }
}
.iconeHome {
  transform: rotateZ(-36deg);
  font-size: 2rem;
}

.groupHome:hover {
  transform: scale(1.2);
  box-shadow: 0 0.5rem 1rem rgba($bianco, 0.15);
}

.groupHome {
  transition: all 0.4s linear;
}
.opacity-none {
  opacity: 100%;
}

//pagina /me
.profilo-details {
  height: 15rem;
  border-radius: 200rem;
}
.dropdown-toggle::after {
  display: none;
}

.nav-tabs {
  .nav-item {
    .nav-link {
      color: $quaternario;
      font-weight: bold;
    }
    .nav-link:hover {
      border-color: $quaternario;
    }
    .active {
      color: $bianco;
      font-weight: bold;
      background-color: $quaternario;
      border: none;
    }
  }
}

.clicked {
  transform: scale(1);
  transition: all 0.1s linear;
}

.clicked:active {
  transform: scale(1.5);
}

.gruppoImmagine {
  height: 15rem;
  border-radius: 1rem;
}
.immagine-pagginaGruppo {
  height: 50px;
  border-radius: 40px;
}
.input-commento {
  width: 60%;

  background-color: $primario;
  border-color: $bianco;
  color: $bianco;
  margin: 0;
  border-right: 0;
}

.input-commento:focus {
  background-color: $secondario;
  border-color: $bianco;
  color: $bianco;
}
.input-commento::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input-per-post {
  background-color: $primario;

  border-radius: 40px;
}

.input-per-post :focus {
  background-color: $secondario;
  border-color: $bianco;
  color: $bianco;
}
.input-per-post::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input-per-texArea {
  background-color: $primario;
  color: $bianco;
}
.input-per-texArea:focus {
  background-color: $primario;
  border-color: $bianco;
  color: $bianco;
}
.input-per-texArea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input-per-modali {
  background-color: $primario;
  color: $bianco;
  border-radius: 40px;
}
.input-per-modali:focus {
  background-color: $primario;
  color: $bianco;
  border-color: $bianco;
}
.input-per-modali::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

//videogioco
.card-videogioco {
  transition: all 300ms linear;
  height: 550px;
  img {
    height: 50%;
    object-fit: contain;
    background: linear-gradient(
      193deg,
      rgba(11, 22, 34, 1) 2%,
      rgba(50, 7, 80, 1) 100%
    );
  }
  .card {
    height: 100%;
  }
}
// .container-page {
//   min-height: 48vh;
// }
.card-videogioco:hover {
  transform: scale(1.1);
}
@media (min-width: 768px) {
  .colonna-di-ricerca {
    position: sticky;
    top: 5rem;
    height: 85vh;
    overflow-x: auto;
  }
}
.body-creaVideogioco {
  height: 60vh;
  overflow-x: auto;
}

.genere-trovato {
  width: fit-content;
  margin-right: 0;
}
.options-select {
  position: absolute;
  height: 200px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  z-index: 2000;
  background: $secondario;
  max-width: 250px;
  width: 90%;
  border: 3px solid $quaternario;
  span {
    padding-inline: 10px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    border: 1px solid white;
    border-inline: 0;
  }
}

//dettaglio videogioco

.copertina {
  height: 23rem;
  img {
    height: 85%;
    object-fit: contain;
  }
}
.w-custom {
  width: 75%;
}
@media (min-width: 423px) {
  .w-custom {
    width: 65%;
  }
}

@media (min-width: 463px) {
  .w-custom {
    width: 60%;
  }
}
@media (min-width: 576px) {
  .w-custom {
    width: 50%;
  }
}
@media (min-width: 576px) {
  .w-custom {
    width: 45%;
  }
}
@media (min-width: 768px) {
  .w-custom {
    width: 100%;
  }
  .copertina {
    position: relative;
    top: 40%;
  }
}

@media (min-width: 992px) {
  .w-custom {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .w-custom {
    width: 67%;
  }
}

.videoTrailer {
  width: 100%;
  height: 80vh;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

input[type="radio"] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

input[type="radio"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 50%;
}

input[type="radio"]:checked + label:before {
  background-color: #000;
}
